<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipie</title>
    <script src="./app.js" defer></script>
    <script src="../js/index.js" defer></script>
    <style>
        #result {
            border: 2px solid black;
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Recipie app..</h1>
        <input type="text" id="input">
        <button id="btn">Generate</button>
    </div>
    <div id="result"></div>
</body>
</html>

