<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Profile</h1>
<form action="/profile/update" method="post" enctype="multipart/form-data">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" value="<%= userData.email %>" >
  <label for="username">username:</label>
  <input type="text" id="email" name="username" value="<%= userData.username %>" required>
  <br>
  <label for="profilePic">Profile Picture:</label>
  <input type="file" id="profilePic" name="profilePic">
  <br>
  <button type="submit">Update Profile</button>
</form>
    <!-- <a href="/profile/:userId/">Update Info</a> -->
</body>
</html>

