<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe-App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="../js/auth.js" defer></script>
    <link rel="stylesheet" href="../style/scss/verify.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Login Page Code -->
    <div class="loginForm">
      <h3>Welcome Back!!</h3>
      <h5>Login into your account</h5>
      <% if(errorFlash.length > 0) { %>
        <!-- Bug fixed in fontsize -->
      <p style="color: red; font-size: 15px; padding: 0"><%= errorFlash %></p>
      <% }%>
      <form id="reg-form" action="/login" method="post">
        <input
          name="username"
          type="text"
          autocomplete="off"
          id="username"
          placeholder="Enter Your Username"
        />
        <input
          name="password"
          type="password"
          autocomplete="off"
          id="password"
          placeholder="Enter Your Password"
        />
        <div class="reminder-container">
          <div class="reminder">
              <input type="checkbox" class="notify" id="rememberMe" name="rememberMe"/>
              <label for="rememberMe">Remember Me Later</label>
          </div>
      </div>
      
        <input class="btn" type="submit" value="Submit Form" />
      </form>
      <a href="/">Not in Recipe.in? Create One</a>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
