@forward 'globals';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bitter:ital,wght@0,100..900;1,100..900&family=Holtwood+One+SC&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap');
$primary-font-color: black;
$special-font-color: #E0E6EC;
h1{
    color:rgb(235, 119, 138)
}
#result {
    border: 2px solid black;
    width: 50%;
}
nav{
    width: 100%;
    // background: red;
    background: #111826;
    color: #E0E6EC;
    height: 12vh;
    display: flex;
    align-items: center;
    position: relative;
    .history{
        width: 10vw;
        font-size: 1.3rem;
        // border: 2px solid black;
        left: 10px;
        display: grid;
        place-items: center;
        position: absolute;
        font-family: "Kalam", cursive;
        font-weight: 400;
        font-style: normal;
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            margin-left: 10px;
            gap: 2vh;
            color: $special-font-color;
        }
        .fa-solid{
            display: flex;
            align-items: center;
            color: $special-font-color;
        }
    }
    .profile_pic{
        position: absolute;
        padding: 0 1.4rem;
        // border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        width: 25vw;
        right: 25vw;
         img{
            width: 80px;
            height: 60px;
         }
         p{
            width: 100%;
            margin-top: 1rem;
            margin-left: 1rem;
            // border: 2px solid black;
            display: grid;
            place-items: center;
         }
    }
    .settings{
        // border: 2px solid black;
        position: absolute;
        right: 3rem;
        .fa-gear{
            color: #E0E6EC;
            font-size: 2rem;
        }
    }
    .logoutButton{
        position: absolute;
        margin-left: 1rem;
        padding: 0 1rem;
        width: 15vw;
        right: 10vw;
        // border: 2px solid black;
        display: grid;
        place-items: center;
        a{
            padding: .6rem 1.3rem;
            border-radius:.9rem;
            border: none !important;
            text-decoration: none;
            color: $primary-font-color;
            background: #ebe6e6;
        }
    }
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #cde0f3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #cde0f3;
  outline: 0 none;
}
.form-control:focus {border-color:rgb(63, 183, 248)!important;
    -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important;
        font-family: "Kalam", cursive !important;
        font-weight: 400 !important;
        font-style: normal  !important;
    }
.btn-primary:focus,
.btn-primary:active,
.btn-close:focus{
        box-shadow:none !important;
        outline:0px !important;
    }
.col-form-label , #exampleModalLabel , #offcanvasRightLabel , .d-inline-flex{
        font-family: "Kalam", cursive !important;
        font-weight: 400 !important;
        font-style: normal  !important;
}
#hist{
    display: flex;
    flex-direction: column;

}

.main{
    background: #E0E6EC;
    display: flex;
    width: 100%;
    min-height: 10vh;
    .feedback{
        font-size: 2rem;
        padding: 0 .7rem;
        display: flex;
        justify-content: center;
        gap: 1vh;
        font-size: 1.4rem;
        font-family: "Kalam", cursive;
        font-weight: 400;
        font-style: normal;
        margin-left: 1.6rem;
        align-items: center;
        
        
    }
    .grabber{
        width: 70%;
        gap: 1.5vh;
        display: flex;
        text-align: end;
        margin-left: 13rem;
        align-items: center;
        justify-content: center;
        
        #input{
            width: 50vw;
            height: 8vh;
            border-radius: 2rem;
            padding: 12px 20px;
            font-size: 1.3rem;
            border: none;
            outline: none !important;
            overflow: hidden;
        }
        .userProfile{
            width: 54px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            mix-blend-mode: multiply;
            filter: drop-shadow(2px 3px 5px rgba(81, 81, 81, 0.523));
        }
        #btn{
            border: none !important;
            border-radius: 50%;
            width: 50px;
            aspect-ratio: 1/1;
            background: white;
            filter: drop-shadow(2px 3px 5px rgba(81, 81, 81, 0.523));
        }
    }
    
}

.response{
    width: 100%;
    display: flex;
    gap: 2vh;
    background: #111826;
    #bot{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        mix-blend-mode: multiply;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        // border: 2px solid;
        // margin-left: 3rem;
    }
    h4{
        position: absolute;
        top: 28%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    
    #result{
        
        width: 70vw;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px; 
        padding: 2rem;
        position: relative;
        background: #E0E6EC ;
        margin: 1rem;
        border: none !important;
        font-family: "Kalam", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .demoItem {
        background: #111826;
        h2{
            font-family: "Kalam", cursive;
            font-weight: 600;
            font-style: normal;
            color: rgba(0, 0, 0, 0.742);
        }
        width: 30vw;
        position: relative;
        padding: .8rem;
        justify-content: space-evenly;
        align-items: center;
        .b{
            margin-left: 5.5rem !important;
            
            
        }
        .cpyItem{
            width: 300px;
            aspect-ratio: 1/.6;
            border-radius: 0.8rem;
            padding: 1.3rem;
            position: relative;
            // box-shadow: #e0e6ecce 0px 1px 1px 0px inset, #e0e6ec90 0px 50px 100px -20px, #e0e6ec86 0px 30px 60px -30px;
            border-radius: 10px 20px; 
            background: #E0E6EC;
            border: 1px solid;
            font-size: 1.2rem;
            font-family: "Kalam", cursive;
            font-weight: 400;
            font-style: normal;
            .copy{
                position: absolute;
                bottom: 15px;
                right: 15px;
                border-radius: .5rem;
                border: none;
                padding: .3rem .8rem; 
            }
        }
    }
    
}

footer{
    width: 100%;
    height: 10vh;
    background: #E0E6EC;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    h2{
        font-size: 1.3rem;
        font-family: "Kalam", cursive;
        font-weight: 400;
        font-style: normal;
        a{
            text-decoration: none;
        }
    }
}

@media (max-width:1237px){
    .main{
        .grabber{
            // border: 2px solid;
            margin-left: 8.5rem;
        }
    }
    .demoItem{
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // background: yellow !important;
        .b{
            margin: 0 !important;
            
        }
        
    
}
}
@media (max-width:970px){
    .main{
        
        .grabber{
            margin: auto !important;
        }
        .feedback{
            display: none !important;
            align-items: center;
            justify-content: center;
        }
    }
        .demoItem{
            
            display: none !important;
            background: yellow !important;
        
    }
    .response{
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        #result{
            min-height: 100vh !important;
            width: 92vw !important;
                h4{
                    top: 31%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    h4{
                        font-size: .8rem !important;
                    }
                }
        }
    }
    nav{
        .history{
            display: none;
        }
        .dropdown{
            display: flex !important;
            margin-left: 1.4rem;
        }
        .logoutButton{
            display: none !important;
        }
        .profile_pic{
            width: 40vw;
            margin: auto;
        }
    }
    
}

@media (max-width: 685){
    .response{
        width: 100%;
        
        #result{
            width: 90vw !important;
            height: 100vh !important;
                h4{
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
        }
    }
}
@media (max-width: 611){
    .grabber{
        width: 100%;
        
    }
}
@media (max-width: 584){
    .response{        
        #result{ 
            h4{
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%); font-size: 1rem ;
                // margin-top: 2rem;
            }
        }
    }
}
