@forward 'globals';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bitter:ital,wght@0,100..900;1,100..900&family=Holtwood+One+SC&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap');

body , html{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm{
    width: 30vw;
    height: 75vh;
    background: #E0E6EC;
    display: flex;
    align-items: center;
    gap: 2vh;
    padding: 1rem;
    border-radius: 0.5rem;
    flex-direction: column;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    #reg-form{
        display: flex;
        flex-direction: column;
        gap: 3vh;
        .btn{
            background: #0287FF;
            color: white !important;
        }
    }
    h3{
        font-weight: 600;
        font-size: 2rem;
    }
    #socials{
        width: 100%;
        height: 9vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: #000000;
            font-size: 2rem;
        }
    }
    #password , #username{
        width: 220px;
        border-radius: .4rem;
        border: none;
        padding: .3rem;
        background: #fff;
        font-family: "Kalam", cursive;
        font-weight: 400;
        font-style: normal;
    }
}